header.header {
    height: 56px;
    padding: 12px 0;
}

header.header > div {
    width: 980px;
    margin: 0 auto;
}

header.header .logo {
    height: 32px;
    width: 32px;
}

header.header .logo img {
    height: 100%;
    width: 100%;
    animation: logo-spin infinite 2s linear;
}

@keyframes logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
