.monitor-wrapper{
    margin-bottom: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2,minmax(150px,16rem));
    >div{
        padding: 1rem;
        background-color: #fafafa;
        color: #292929;

    }
}
.title{
    &.code{
        font-size: 5rem;
        font-weight: bold;
        color: crimson;
        margin-bottom: 0px;
    }
}