.purdy_box {
    background-color: #ddd;
    color: #222;
    padding: 1rem 1rem 0;
    margin-bottom: 1rem;
    & .title.q {
        color: #222;
    }
    & label {
        color: #444;
        font-style: oblique;
        font-size: .8rem;
    }
    & input {
        border: none !important;
        border-bottom: 1px #000 solid !important;
        color: #222;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    & textarea {
        border: 1px #000 solid !important;
        color: #222;
        padding-left: .1rem !important;
        padding-right: .1rem !important;
    }
    & button {
        border: none !important;
        background-color: #292929;
        &:hover {
            background-color: #444;
        }
    }
}
